Android/.gradle/
Android/.kotlin/
Android/local.properties
Android/build/
Android/app/build/
Android/gradle/gradle-daemon-jvm.properties
Android/.idea/
Android/**/*.iml
Android/**/.cxx/
Android/**/.externalNativeBuild/
Android/**/build/
Android/_tmp_*/
Android/_tmp_*.*
.trae/
IOS Build.txt
**/.DS_Store
**/node_modules/
**/*.xcconfig
**/__pycache__/
**/*.pyc
backups/
*Build*.txt
*build error*.txt

*.ips
